Section: misc
Priority: optional
Standards-Version: 3.9.2

Package: dummy-oracle-jdk
Version: 1.{{ java_version }}.{{ java_update }}
Provides: java{{ java_version }}-runtime-headless,default-jre-headless,java-runtime-headless
Description: dummy package to satisfy java8-runtime-headless dep for manual install
 long description and info
 .
 second paragraph
